body {
    background-color: rgb(230,230,230);
    color: rgb(50,50,50);
    font-family: Arial, serif;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-justify: center;
}
h1, h2 {
    font-family: Arial, serif;
}
h1 {
    color: #2d3551;
    font-size: 32px;
    font-weight: 900;
}
h2 {
    color: red;
    font-size: 24px;
    font-weight: lighter;
    font-weight: 700;
}
a {
    font-family: Arial, serif;
    text-decoration: none;
    color: #6B72E1;
    font-weight: 600;
    font-size: 16px;
}
a:hover {
    color: black;
}

.container {
    width: 700px;
    margin: 40px auto;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}
.img-circle {
    border-radius: 50%;
}
.btn-blue {
    background-color: #1a2075;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}
.btn-blue:hover {
    background-color: black;
    color: white;
}
.list-inline {
    list-style: none;
    padding-left: 0px;
}
.list-inline li {
    display: inline;
    padding: 10px; 
}
.list-inline i {
    background-color: white;
    font-size: 50px;
    color: #1d258a;
}
.list-inline i:hover {
    color: black;
}
#introduction p {
    margin-bottom: 40px;
}